body { 
    background: #fdff8e    
}

#banner {
    width: 100%
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

h2 {
    text-align: center
}

.list {
    background: #d8da76
}

.lista {
    font-style: italic
}